
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/"><i class="fa fa-home"></i> Overview</a>
    <a href="/knowledge"><i class="fa fa-lightbulb-o"></i> Knowledge</a>
    <a href="/experience"><i class="fa fa-flask"></i> Experience</a>
  </div>



<div class="container-fluid main-container">
    <div class="row">
        <div class="col-sm-auto left-col">
            <div class="side-navigation main-side-navigation-section ">
                <ul class="nav">
                    <li>
                        <a href="/" class="menu-link">
                            <span class="icon"><i class="fa fa-home menu-icons"></i>Overview</span>
                        </a>
                    </li>

                    <li>
                        <a href="/knowledge"  class="menu-link">
                            <span class="icon"><i class="icon-lightbulb menu-icons"></i> Knowledge</span>
                        </a>
                    </li>

                    <hr>

                    <li>
                        <a href="/experience"  class="menu-link">
                            <span class="icon"><i class="fa fa-flask menu-icons"></i> Experience</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- FIRST MAIN ROW -->
        <div class="col main-column">
            <div class="row">
                <div class="overview-card col-12 col-xl-6">
                    <div class="card account-overview-code">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-12">
                                <h3>
                            Overview
                        </h3></div>
                    </div>
                        </div>
                        <div class="card-body">
                            <div id="redeem-code-form">
                                <p>
                                    Full-Stack Developer and IT Specialist with a passion for problem solving, learning, and team building. Self-motivated goal-oriented with the desire to contribute both to a team and the development process
                                </p>
                                <p>
                                    <a href="https://github.com/warchaser9/Resume" class="btn btnGithub">GitHub Page</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="knowledge-card col-12 col-xl-6">
                    <div class="card account-overview-code">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <h3>Knowledge</h3></div>
                                <div class="col-12 col-md-6"><a href="/knowledge" class="card-header-link float-md-right">
                                    Details <i class="icon-chevron-right"></i> </a></div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div>
                                <div id="balance-overview-placeholder" class="hide balance-content-placeholder">
                                    <div>
                                        <div class="placeholder-content animated-background"></div>
                                    </div>
                                </div>
                                <div>
                                    <h4><i class="icon-check green-color"></i> Development Language Agnostic</h4>
                                    <!-- <p>C# (Winforms, Webforms, MVC and WPF), Java, VBA, SQL, Angular, Typescript, LINQ, ASP.NET, Entity Framework, XAML, HTML, CSS, JSON, XML</p> -->
                                    <h4><i class="icon-check green-color"></i> Diverse Experience in many software tools</h4>
                                    <!-- <p>Visual Studio 2013/2016/2019, cPanel, Vmware/Virtualbox/Parallels, Filezilla, Sublime Text, VS Code, Putty, Unity, SSRS 2005, ServiceNow, Kentico</p> -->
                                    <h4><i class="icon-check green-color"></i> Extensive Wordpress experience</h4>
                                    <h4><i class="icon-check green-color"></i> Experienced in PC and network security administration</h4>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECOND MAIN ROW -->
            <div class="row main-row">
                <div class="info-card col-12 col-xl-6">
                    <div class="card account-overview-details">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-12 col-md-8 col-lg-7">
                                    <h3>My Information</h3></div>
                                <div class="col-12 col-md-4 col-lg-5"></div>
                            </div>
                        </div>
                        <!---->
                        <div class="card-body card-body-margin ">
                            <div>
                                <div class="row">
                                    <div class="label col-12 col-md-4">Name</div>
                                    <div class="col-12 col-md-8">Peter Meinders</div>
                                </div>
                                <div class="row mt-3 mt-md-3">
                                    <div class="label col-12 col-md-4">
                                        Location
                                    </div>
                                    <div class="col-12 col-md-8"><span>
                                Georgia
                            </span></div>
                                </div>
                                <div class="row mt-3 mt-md-3">
                                    <div class="label col-12 col-md-4">
                                        GitHub
                                    </div>
                                    <div class="col-12 col-md-8 text-truncate">
                                        <a style="padding:0px;" href="https://github.com/warchaser9/Resume">Warchaser9</a>
                                    </div>
                                </div>
                                <div class="row mt-3 mt-md-3">
                                    <div class="label col-12 col-md-4">
                                        Phone
                                    </div>
                                    <div class="col-12 col-md-8"><span>
                                (***) ***-****
                            </span></div>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="exp-card col-12 col-xl-6">
                    <div class="card">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <h3>Experience</h3></div>
                                <div class="col-12 col-md-6"><a href="/" class="card-header-link float-md-right">
                            More Details <i class="icon-chevron-right"></i></a></div>
                            </div>
                        </div>
                        <!---->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 text-center">
                                    <span class="align-middle"> <button class="color-c circule" style="cursor:auto">20+</button></span>
                                </div>
                                <div class="col-md-8 col-sm-12 text-align-center">
                                    <div>
                                        <h5 class="green-color">20+ Languages/Libraries/Markups</h5>
                                        <h5 class="green-color">System Administrator for 20+ clients</h5>
                                        <!-- <p>C# (Winforms, Webforms, MVC and WPF), Java, VBA, SQL, Angular, Typescript, LINQ, ASP.NET, Entity Framework, XAML, HTML, CSS, JSON, XML</p> -->
                                        <h5 class="green-color">Created and supported 20+ wordpress sites</h5>
                                        <!-- <p>Visual Studio 2013/2016/2019, cPanel, Vmware/Virtualbox/Parallels, Filezilla, Sublime Text, VS Code, Putty, Unity, SSRS 2005, ServiceNow, Kentico</p> -->

                                        <div></div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector(".navbar-overlay-page").style.display = "none";

    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.querySelector(".navbar-overlay-page").style.display = "block";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.querySelector(".navbar-overlay-page").style.display = "none";
    }
</script>