<h1> Peter Meinders </h1>
<h2> Software Developer </h2>

<h3> Overview </h3>
<p>Software Developer and IT Specialist with a passion for problem solving, learning, and team building. 
        Self-motivated goal-oriented with the desire to contribute both to a team and the development process</p>

<h3>Knowledge</h3>
<h4>Frameworks/Libraries/Markup</h4>
<p>
        C#(Winforms, Webforms, MVC and WPF), Java, VBA, SQL, Angular, Typescript, LINQ, ASP.NET, Entity Framework, XAML, HTML, CSS, JSON, XML
</p>
<h4>Tools/Utilites</h4>
<p>
        Visual Studio 2013/2016/2019, cPanel, Vmware/Virtualbox/Parallels, Filezilla, Sublime Text, VS Code, Putty, Unity, SSRS 2005, ServiceNow, Kentico
</p>
<h4>Extensive Wordpress experience </h4>
<h4> Experienced in general PC and network security administration</h4>

<h3>Experience</h3>
<h4>Designed and implemented new functionality on various projects using an assortment of programming languages </h4>

<ul>
        <li>Built and implemented a chatbot using LUIS and Microsoft Bot Framework into our service desk environment. </li>
        <li>Created a scheduling webapp for new patients to schedule appointments</li>
        <li>Developed numerous code fixes and features in our EMR software for both the windows application, and web based portal </li>
        <li>Worked with a team to create a student tracking webapp using MVC that would help teachers keep track of students that are falling behind and needing extra support in certain areas</li>
        <li>Added a QR reading feature to a LiftTruck tracking Android application and redeployed it to the store</li>
        <li>Wrote a VBA/Excel based sports field calculation software that rendered an accurately scaled layout of the field that the sales team would show potential customers</li>
        <li>Designed new user screens using XAML and C# in WPF</li>
        <li>Created reports using SSRS 2005</li>
        <li>Designed stored procedures in SQL Server</li>
</ul>

<h4>Served as System Administrator for 20+ clients</h4>
<ul>
        <li>Implemented and serviced full scale IT support for business class PC’s, networks, miscellaneous hardware and proprietary software</li>
        <li>Maintained and troubleshot Server 2005 and 2012</li>
        <li>Performed data recovery and provided backup solutions</li>
        <li>Provided both remote and onsite support </li>

</ul>
<h4>Created, maintained, and supported 20+ wordpress websites</h4>
<ul>
        <li>Designed and singlehandedly built sites from the ground up based on user feedback (ex. Highlandrivershealth.com, Inventureit.com)</li>
        <li>Handled security, backups, and malware prevention systems</li>
        <li>Acquired and modified existing wordpress environments</li>
        <li>Trained users both remotely and in person on how to update their sites</li>
        <li>Setup and monitored servers with hosting company</li>

</ul>
<h3>Education</h3>