@if (SkillsList == null)
{
    <div>Loading...</div>
}
else
{

<div class="row mt-3">
    <div class="col-12 no-padd">Frameworks/Libraries/Markup</div>
    <div class="col-12 col-md-9 mt-1 no-padd label">
        @foreach (var (Skill, index) in SkillsList.Select((value, i) => (value, i)))
            {
                if (index == (SkillsList.Length - 1))
                {
                    <span>@Skill </span>
                }
                else
                {
                    <span>@Skill, </span>
                }
            }
    </div>
</div>

}

@code {
    [Parameter]
    public string[] SkillsList { get; set; } = new string[0];
}
