@inject HttpClient Http

<div class="content-cards1">

@if (CardList != null)
{
    foreach (ProductCardModel card in CardList)
    {
        <ProductCard Card="@card"></ProductCard>
    }
}


    
</div>




@code {
    [Parameter] 
    public List<ProductCardModel> CardList {get;set; }

}