@page "/experience"

<div id="experience">
    <div class="wrapper;">

        <section class="section-page">
            <div class="main-section">
                <div class="container-fluid main-container">
                    <div class="text-center">
                        <h1>Experience</h1>
                    </div>


                    <div class="row">
                        <!-- FIRST MAIN ROW -->
                        <div class="col main-column">
                            <!-- New First MAIN ROW -->
                            <div class="row">
                                <div class="overview-card col-12 col-xl-12">
                                    <div class="card mt-card-top communication-preferences">
                                        <div class="card-title">
                                            <div class="row card-title-header">
                                                <div class="col-12 col-md-9">
                                                    <h3>Senior Systems Engineer</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-12">
                                                    <div class="no-padd">Lead a team in maintaining and improving 2 large eCommerce web applications (ShawContract.com) (Patcraft.com)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                        <div class="card-body card-body-margin">
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Oversaw and took point in handling a successful transition when losing 20+ developers including the team's top lead engineer.
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Provided technical and business level support and guidance for both internal developers and external contract resources.</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Updated development pipeline and maintained production code and turnovers through Github and AWS.</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Added redundancy to both our production deployments and Azure indexes.
                                                </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 no-padd label">
                                                        - Maintained backend code while working in tandem with frontend team.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                      
                            <div class="row  main-row ">
                                <div class="overview-card col-12 col-xl-12">
                                    <div class="card mt-card-top communication-preferences">
                                        <div class="card-title">
                                            <div class="row card-title-header">
                                                <div class="col-12 col-md-9">
                                                    <h3>Development</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-12">
                                                    <div class="no-padd">Designed and implemented new functionality on various projects using an assortment of programming languages</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                        <div class="card-body card-body-margin">
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Integrated live chat system into ShawContract.com and Patcraft.com</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Built custom Azure Functions that integrate between live chat system and custom internal applications to receive up-to-date product information.</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Built and implemented a chatbot using LUIS and Microsoft Bot Framework into our service desk environment</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Created a scheduling webapp for new patients to schedule appointments</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Developed numerous code fixes and features in our EMR software for both the windows application, and web based portal</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Worked with a team to create a student tracking webapp using MVC that would help teachers keep track of students that are falling behind and needing extra support in certain areas
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Added a QR reading feature to a LiftTruck tracking Android application and redeployed it to the store
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Wrote a VBA/Excel based sports field calculation software that rendered an accurately scaled layout of the field that the sales team would show potential customers
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Designed new user screens using XAML and C# in WPF
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Created reports using SSRS 2005</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Designed stored procedures in SQL Server</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- SECOND MAIN ROW -->
                            <div class="row main-row ">
                                <div class="overview-card col-12 col-xl-12">
                                    <div class="card mt-card-top communication-preferences">
                                        <div class="card-title">
                                            <div class="row card-title-header">
                                                <div class="col-12 col-md-9">
                                                    <h3>Systems Administrator</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-12">
                                                    <div class="no-padd">Served as a Systems Administrator for 20+ clients</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                        <div class="card-body card-body-margin">
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Implemented and serviced full scale IT support for business class PC’s, networks, miscellaneous hardware and proprietary software
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Maintained and troubleshot Server 2005 and 2012</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Performed data recovery and provided backup solutions</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Provided both remote and onsite support
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ThIRD MAIN ROW -->
                            <div class="row main-row ">
                                <div class="overview-card col-12 col-xl-12">
                                    <div class="card mt-card-top communication-preferences">
                                        <div class="card-title">
                                            <div class="row card-title-header">
                                                <div class="col-12 col-md-9">
                                                    <h3>Wordpress Site Designer and Administrator</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-12">
                                                    <div class="no-padd">Created, maintained, and supported 20+ wordpress websites and their hosting environments</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                        <div class="card-body card-body-margin">
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Designed and singlehandedly built sites from the ground up based on user feedback (ex. Highlandrivershealth.com, Inventureit.com)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Handled security, backups, and malware prevention systems</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">- Acquired and modified existing wordpress environments</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Trained users both remotely and in person on how to update their sites
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 no-padd label">
                                                    - Setup and monitored servers with hosting company
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="footer"></div>
</div>

<link href="../css/custom.css" rel="stylesheet" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}


