@page "/knowledge"

<section class="section-page">
   <div class="main-section">
      <div class="container-fluid main-container" >
         <div class="text-center">
            <h1>Knowledge</h1>
         </div>
         <div class="row">
            <!-- FIRST MAIN ROW -->
            <div class="col main-column">
               <div class="row">
                  <div class="overview-card col-12 col-xl-12">
                     <div class="card mt-card-top communication-preferences">
                        <div class="card-title">
                           <div class="row">
                              <div class="col-12 col-md-9">
                                 <h3>Knowledge</h3>
                              </div>
                              <div class="col-12 col-md-3">
                                 <a href="javascript:void(0)" class="card-header-link float-md-right">
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!---->
                        <div class="card-body card-body-margin" >
                           <div class="row">
                              <div class="col-12 col-md-2 col-lg-2 col-xl-2 label language-label">Language</div>
                              <div class="col-12 col-md-10 col-lg-10 col-xl-10 label">English (US)</div>
                           </div>
                           <div class="row">
                              <hr class="mt-4">
                           </div>
                           <div class="row mt-3">
                              <div class="col-12 no-padd">Frameworks/Libraries/Markup</div>
                              <div class="col-12 col-md-9 mt-1 no-padd label">C#(Winforms, Webforms, MVC, WPF, Blazor, .Net Core), Java, VBA, SQL, Typescript, LINQ, ASP.NET, Entity Framework, XAML, HTML, CSS, JSON, XML, Powershell, Lucene, Vue, Svelte, React
                              </div>
                              <div class="col-md-3 cp-selection">
                                 <span class="right-icon">
                                 <i class="icon-certificate"></i>
                                 </span>
                              </div>
                           </div>
                           <div class="row">
                              <hr class="mt-4">
                           </div>
                           <div class="row">
                              <div class="col-12 no-padd">Tools/Utilites</div>
                              <div class="col-12 col-md-9 mt-1 no-padd label">
                                  Visual Studio 2013-2022, VSCode, Kentico, IIS, Postman, AWS Elastic BeanStalk, Github, Github Actions, Azure, ServiceNow, cPanel, Vmware/Virtualbox/HyperV, Filezilla, Sublime Text, Putty, Unity, SSRS 2005
                              </div>
                              <div class="col-md-3 cp-selection"><span  class="right-icon" >
                                 <i class="icon-certificate"></i>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- SECOND MAIN ROW -->
            </div>
         </div>
      </div>
   </div>
</section>
<link href="../css/custom.css" rel="stylesheet"/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}


