@page "/knowledge"
@using Resume_Blazor.Components.Skills
@using System.Text.Json;
@using Newtonsoft.Json
@using System.Text.Json.Serialization;
@inject HttpClient Http

@if (Resume == null)
{
    <div>Loading...</div>
}
else
{
  <section class="section-page">
   <div class="main-section">
      <div class="container-fluid main-container" >
         <div class="text-center">
            <h1>Skills</h1>
         </div>
         <div class="row">
            <!-- FIRST MAIN ROW -->
            <div class="col main-column">
               <div class="row">
                  <div class="overview-card col-12 col-xl-12">
                     <div class="card mt-card-top communication-preferences">
                        <div class="card-title">
                           <div class="row">
                              <div class="col-12 col-md-9">
                                 <h3>Knowledge</h3>
                              </div>
                              <div class="col-12 col-md-3">
                                 <a href="javascript:void(0)" class="card-header-link float-md-right">
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!---->
                        <div class="card-body card-body-margin" >
                           <div class="row">
                              <div class="col-12 col-md-2 col-lg-2 col-xl-2 label language-label">Language</div>
                              <div class="col-12 col-md-10 col-lg-10 col-xl-10 label">English (US)</div>
                           </div>
                           <div class="row">
                              <hr class="mt-4">
                           </div>
                          <Skills SkillsList="@Resume?.SkillsModel?.Skills"/>
                           <div class="row">
                              <hr class="mt-4">
                           </div>
                          <Tools ToolsList="@Resume?.SkillsModel?.Tools"/>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- SECOND MAIN ROW -->
            </div>
         </div>
      </div>
   </div>
</section>  
}


<link href="../css/custom.css" rel="stylesheet"/>

@code {
    private int currentCount = 0;
    string fileName = "Resume.json";
    public ResumeModel Resume = new ResumeModel();


    protected override async Task OnInitializedAsync()
    {
        Resume = await GetResume();
    }



    public async Task<ResumeModel> GetResume()
    {
        var res = await Http.GetAsync(fileName);

        var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };

        ResumeModel val = await res.Content.ReadFromJsonAsync<ResumeModel>(options);

        return val;
    }


}


